{{define "inicio"}}
<!DOCTYPE html>
<html>
    <head>
        <title>PRINCIPAL</title>
        <link rel="stylesheet" href="../assets/css/estiloIndex.css" type="text/css">
        
    </head>

    
    
    <body>
        
        <header class="id-header">
            <div class="cabeza">
                <div class="titulo">
                    <h1>BIENVENIDO</h1>
                </div>
            </div>
        </header>
        <div class="reg-cuerpo">
            <nav class="cuerpo">
                <a href="./profesor" >PROFESOR</a>
                <a href="./alumno.html">ALUMNO</a>
                <a href="./materia.html">MATERIAS</a>
            </nav>
        
        </div>
        <div class="secc">
            <section class="seccion">
                
            </section>
        </div>
    </body>
</html>
{{end}}