{{define "profesor/edit"}}
<!DOCTYPE html>
<html>
    <head>
        <title>Editar Datos</title>
        <link rel="stylesheet" href="../../assets/css/estiloEditProfe.css">
        
    </head>
    <body>
        <div class="cabeza">
            <header>
                <div class="cab-title">
                    <h1 class="titulo">BIENVENIDO {{.nombres}} {{.paterno}} {{.materno}}</h1>
                </div>
            </header>
        </div>

        <div class="cuerpo">
            <form class="cuerpo-form" method="POST" action="#">

                <div class="cuerpo-reg">
                    <label class="reg-label">NOMBRES:</label>
                    <div class="reg-texto">
                        <input type="text" class="form-control" id="Nombres" value="{{.nombres}}" placeholder="ingrese nombres" name="nombres" autocomplete="off">
                    </div>
                </div>

                <div class="cuerpo-reg">
                    <label class="reg-label">PATERNO:</label>
                    <div class="reg-texto">
                        <input type="text" class="form-control" id="Paterno" value="{{.paterno}}" placeholder="ingrese apellido Paterno" name="paterno" autocomplete="off">
                    </div>
                </div>

                <div class="cuerpo-reg">
                    <label class="reg-label">MATERNO:</label>
                    <div class="reg-texto">
                        <input type="text" class="form-control" id="Materno" value="{{.materno}}" placeholder="ingrese apellido Materno" name="materno" autocomplete="off">
                    </div>
                </div>

                <div class="cuerpo-reg">
                    <label class="reg-label">CORREO:</label>
                    <div class="reg-texto">
                        <input type="text" class="form-control" id="Correo" value="{{.correo}}" placeholder="ingrese correo electronico" name="correo" autocomplete="off">
                    </div>
                </div>

                <div class="cuerpo-reg">
                    <label class="reg-label">Password:</label>
                    <div class="reg-texto">
                        <input type="password" class="form-control" id="Contrasenia" placeholder="ingrese password" name="paterno" autocomplete="off">
                    </div>
                </div>

                <div class="btn-reg">
                    <button type="submit" class="btn">Registrar Cambios</button>
                </div>

            </form>
        </div>
    </body>
</html>
{{end}}