{{define "profesor"}}
<!DOCTYPE html>
<html>
    <head>
        <title>PROFESORES</title>
        <link rel="stylesheet" href="../../assets/css/estiloProfesor.css">
        <script src="../../assets/javascript/scriptProfesor.js" type="text/javascript" ></script>
    </head>
    <body>
        <header class="cabecera">
            <h1>BIENVENIDO A LA SECCION DE PROFESORES</h1>
        </header>
        <section id="seccion">
            <div id="lista">
                <label id="ho">hola</label>
            </div>
        </section>
    </body>
</html>
{{end}}