{{define "profesor/new"}}
<!DOCTYPE html>
<html>
    <head>
        <title>Registrar Profesor</title>
        <link rel="stylesheet" href="../../assets/css/estiloRegistro.css" type="text/css">
    </head>
    <body>
        <div class="cuerpo">
            <form class="horizontal" method="POST" action="#">

                <div class="cuerpo-reg1">
                    <label class="reg1-label">INGRESAR CI:</label>
                    <div class="reg1-llena1">
                        <input type="text" class="form-control" id="Ci" placeholder="ingrese Ci" name="ci">
                    </div>
                </div>

                <div class="cuerpo-reg1">
                    <label class="reg1-label">INGRESAR NOMBRES:</label>
                    <div class="reg1-llena1">
                        <input type="type" class="form-control" id="Nombres" placeholder="Nombres" name="nombres">
                    </div>
                </div>

                <div class="cuerpo-reg1">
                    <label class="reg1-label">INGRESE APELLIDO PATERNO:</label>
                    <div class="reg1-llena1">
                        <input type="type" class="form-control" id="Paterno" placeholder="Paterno" name="paterno">
                    </div>
                </div>

                <div class="cuerpo-reg1">
                    <label class="reg1-label">INGRESE APELLIDO MATERNO:</label>
                    <div class="reg1-llena1">
                        <input type="type" class="form-control" id="Materno" placeholder="Materno" name="materno">
                    </div>
                </div>

                <div class="cuerpo-reg1">
                    <label class="reg1-label">INGRESE CORREO:</label>
                    <div class="reg1-llena1">
                        <input type="type" class="form-control" id="Correo" placeholder="correo electronico" name="correo">
                    </div>
                </div>

                <div class="cuerpo-reg1">
                    <label class="reg1-label">INGRESE CONTRASEÑA</label>
                    <div class="reg1-llena1">
                        <input type="password" class="form-control" id="Contrasenia" placeholder="" name="contrasenia">
                    </div>
                </div>

                <div class="cuerpo-reg1">
                    <div class="cuerpo-bot">
                        <button type="submit" class="btn">REGISTRAR</button>
                    </div>
                </div>

            </form>
        </div>
    </body>

</html>

{{end}}